VAST_PATH="" # absolute path to vast-front
LIT_PATH="" # absolute path to lits
LIT_BIN_NAME="" # the name of llvm-lit executable

TESTCASE="." # testcases to run, format: "test1[;test2[;test3...]]", default to "." to run all testcases
VAST_TARGET="hl" # target ir, hl/ll/llvm

PARALLEL=1 # number of parallel process to run tests
PARALLEL_THREAD=2 # number of parallel thread to run a translation unit
PARALLEL_BATCH_SIZE=5 # task batch size of a thread

TEST_DB=False # enable test db, True/False
CLEAN_DB=False # enable clean db before test, True/False(WARNING: can not set to True when PARALLEL > 1)

NEO4J_ADDRESS="neo4j:@localhost:7687,neo4j:@localhost:7688" # neo4j address, format: "<user>:<password>@<address>:<port>[,<database2>[,<database3>...]]"
NEO4J_UID_ALLOC_SIZE=100 # neo4j uid alloc batch size

VASTDB_PROFILE_LOG="/tmp/vastdb_profile.log" # vastdb profile log file
